@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin before {
  display: block;
  content: '';
}

@mixin orange-block {
  background: $orange-color;
  color: white;
}

@mixin main-central {
  width: 1100px;
  margin: auto;
  position: relative;
}

@mixin border-back($radius, $back) {
  border: 1px solid $border-color;
  border-radius: #{$radius}px;
  background-color: $back;
}