$font-color: #333;
$footer-height: 221px;
$font-family: "Open Sans Regular", sans-serif;
$font-semibold: "Open Sans Semibold", sans-serif;
$font-bold: "Open Sans Bold", sans-serif;
$font-light: "Open Sans Light", sans-serif;
$font-rouble: "PTRoubleDecorative", sans-serif;
$border-color: #dee1e4;
$orange-color: #ff6600;
$hover-gray: #e4e2e2;
$blocks-back: #fbfbfb;
$light-gray: #7f7f7f;