extends ../main
block title
    title Магазин электроники
block page
    include ../_common/_page/_breadcrumb
    .content-wrapper
        include ../_common/_page/_sidebar
        include ../_common/_page/_content
    include ../_common/_page/_info