.navigate__item{
  display: inline-block;
  margin-right: -0.35em;
}
.navigate__link{
  display: block;
  line-height: 20px;
  vertical-align: middle;
  padding: 16px 17px;
}
.navigate__link:hover{
  background: $hover-gray;
}
.navigate__link_active, .navigate__link_active:hover{
  @include orange-block;
}