//Хлебные крошки
.breadcrumb
    - var crumbText = ['Главная', 'Каталог']
    ul.breadcrumb__list
        each text, index in crumbText
            - var active = (index == crumbText.length - 1)
            li(class="breadcrumb__item" + (active ? " breadcrumb__item_active" : ''))
                a(href="#" class="breadcrumb__link" + (active ? " breadcrumb__link_active" : '') title="#{text}") #{text}
    //Заголовок каталога
    h2.catalog-title Мобильные телефоны