.page-wrapper{
  min-width: 1200px;
  min-height: 100%;
  margin-bottom: -$footer-height;
  position: relative;
}
.page{
  @include main-central;
  @include clearfix;
  font-size: 14px;
  margin-bottom: $footer-height;
}
.content-wrapper{
  @include clearfix;
}